export JOURNAL_DB_DSN=postgres://blessed_bites:Matthew.5:6@localhost/blessed_bites?sslmode=disable

export TWILIO_ACCOUNT_SID=AC2c7d5c1d1febb80049aeeb8b1c45e4d4
export TWILIO_AUTH_TOKEN=9303769a1951eb7c7b7e602d61e7a1f7
export WHATSAPP_TO=whatsapp:+5016082424
