<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blessed Bites</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="font-poppins bg-gray-50">

    <header class="bg-bbPrimary text-white p-4">
        <h1 class="text-3xl font-bold">Blessed Bites</h1>
    </header>

    <main class="container mx-auto p-6">
        {{block "content" .}}{{end}}
    </main>

    <footer class="bg-bbPrimary text-white p-4 text-center">
        <p>&copy; 2025 Blessed Bites. All Rights Reserved.</p>
    </footer>

    <!-- Import JS files -->
    <script src="/assets/js/main.js"></script>
</body>
</html>
