{{define "content"}}
<!-- Top Buttons for Related Foods -->


<div class="row" style="margin-top: 2rem;">
    <!-- Sidebar -->
    <div class="col s12 m4 l3">
            <div class="auth-message">
                {{ if .IsAuthenticated }}
                <p>Welcome {{ .CurrentUserFullName }}! </p>
                {{ else }}
                Login to show your favs!
                {{ end }}
            </div>
        <div class="category-sidebar">
            <h6 class="sidebar-title">I'm looking for:</h6>
            {{range .Categories}}
            <div class="category-item">
              <a href="/menu/category/{{.ID}}">{{.Name}}</a>
            </div>
            {{end}}
            <div class="category-item special">
              <a href="/">Anything delicious</a>
            </div>
          </div>          
        <div class="order-sidebar">
            <h6>Your Order</h6>
            {{ if .AlertMessage }}
        <div class="flash-message {{.AlertType}}">
            {{.AlertMessage}}
            <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
        {{ end }}
            <ul id="orderList"></ul>
            <p id="orderTotal">Total: $0.00</p>
            <form id="orderForm" action="/orders" method="POST">
                {{ $.CSRFField  }}
    
    <!-- If admin, show input for walk-in customer name -->
    {{ if eq .CurrentUserRole "admin" }}
    <div class="input-field">
        <input id="walkInFullName" name="walkInFullName" type="text" required class="white-text">
        <label for="walkInFullName" class="white-text">Customer Name</label>
    </div>
    <div class="input-field">
        <input id="walkInPhone" name="walkInPhone" type="tel" class="white-text">
        <label for="walkInPhone" class="white-text">Customer Phone</label>
    </div>
    {{ end }}
    <!-- if user is not authenticate show input fields for guestUserName and guestUserPhone-->
    {{ if not .IsAuthenticated }}
    <div class="input-field">
        <input id="guestUserName" name="guestUserName" type="text" required class="white-text">
        <label for="guestUserName" class="white-text">Your Name</label>
    </div>
    <div class="input-field">
        <input id="guestUserPhone" name="guestUserPhone" type="tel" required class="white-text">
        <label for="guestUserPhone" class="white-text">Your Phone</label>
    </div>
    {{ end }}
                <!-- Hidden fields for order data -->
                <input type="hidden" name="orderData" id="orderData">
                <button type="submit" class="btn mustard">Place Order</button>
            </form>
        </div>
    </div>

    <!-- Menu Items Grid -->
    <div class="col s12 m8 l9">
        {{ if .IsAuthenticated }}
         {{ if .TopUserMenuItems }}
        <div class="top-buttons-message"><p>Your Favorites</p></div>
    {{ end }}
<div class="top-buttons">
    {{range .TopUserMenuItems }}
    
        <div class="top-btn darken"><a href="#" class="btn-add-order" data-id="{{.ID}}" data-name="{{.Name}}" data-price="{{printf "%.2f" .Price}}">{{.Name}}</a></div>
    {{end}}
    {{ if not .TopUserMenuItems }}
    <div class="top-buttons-message">
        <p>No favorites for {{ .CurrentUserFullName }}. Order up to populate your favorite yummies</p>
    </div>
    {{ end }}
</div>
{{ end }}
        <form action="/search" method="GET" class="search-form">
            <div class="search-box-wrapper">
              <input type="text" id="searchBox" name="q" placeholder="Search menu..." autocomplete="off">
              <button type="submit" class="material-icon-button">
                <i class="material-icons">search</i>
              </button>
            </div>
          </form>
        <div id="results"></div>        
        <div id="menuCards" class="row equal-height">
            {{range .MenuItems}}
                <div class="col s12 m6 l4 menu-card">
                    <div class="card">
                        <div class="card-image">
                            <img class="responsive-img" src="/{{.ImageURL}}" alt="{{.Name}}">
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{.Name}} {{ if .Popular }}<span class="thumb-badge"><i class="material-icons">thumb_up</i></span>{{ end }}</span>
                            <p>{{.Description}}</p>
                            <p><strong>${{printf "%.2f" .Price}}</strong></p>
                        </div>
                        <div class="card-btn darken">
                            <a href="#" class="waves-effect btn-add-order " data-id="{{.ID}}" data-name="{{.Name}}" data-price="{{printf "%.2f" .Price}}">Add to Order</a>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
        <div class="pagination center-align">
  {{if gt .TotalPages 1}}
    <ul class="pagination">
      {{if gt .CurrentPage 1}}
      <li class="waves-effect"><a href="/?page={{sub .CurrentPage 1}}"><i class="material-icons">chevron_left</i></a></li>
      {{else}}
      <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
      {{end}}

      {{ $ctx := .}}
      {{range $i, $ := until .TotalPages}}
        {{ $page := add $i 1 }}
        <li class="{{if eq $ctx.CurrentPage $page}}active{{else}}waves-effect{{end}}">
          <a href="/?page={{$page}}">{{$page}}</a>
        </li>
      {{end}}

      {{if lt .CurrentPage .TotalPages}}
      <li class="waves-effect"><a href="/?page={{add .CurrentPage 1}}"><i class="material-icons">chevron_right</i></a></li>
      {{else}}
      <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
      {{end}}
    </ul>
  {{end}}
</div>
    </div>
</div>

{{end}}
