{{ define "content" }}
<div class="container" style="margin-top: 3rem;">
  <h4>Login</h4> <span><a href="/reset-password-request">Forgot Password?</a></span>
  <form action="/login" method="POST" class="col s12">
    {{ .CSRFField  }}
    <div class="input-field">
      <input id="email" name="email" type="email" value="{{if .FormData.email}}{{index .FormData.email}}{{else if .User}}{{.User.Email}}{{end}}" class="{{ if .FormErrors.password }}invalid{{ end }}">
      <label for="email">Email</label>
      {{with .FormErrors.email}}
        <div class="error">{{.}}</div>
      {{end}}
    </div>
    <div class="input-field">
      <input id="password" name="password" type="password" class="{{ if .FormErrors.password }}invalid{{ end }}">
      <label for="password">Password</label>
      {{ with .FormErrors.password }}
        <div class="error">{{.}}</div>
      {{ end }}
       
      <button class="btn waves-effect waves-light burgundy darken-3" type="submit">Login</button>
    </div>
    </form>
</div>
{{ end }}