{{define "content"}}

<div class="form-container">
  <h2 class="form-title">Reset Your Password</h2>
  <form method="POST" action="/reset-password" class="app-form">
    {{ .CSRFField }}
    <input type="hidden" name="token" value="{{.Token}}">
    <div class="form-group">
      <label for="password" class="form-label">New Password:</label>
      <input type="password" id="password" name="password" class="form-input" required>
    </div>
    <div class="form-group">
      <label for="confirmPassword" class="form-label">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" class="form-input" required>
      {{with .FormErrors.confirmPassword}}
      <div class="error">{{.}}</div>
    {{end}}
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
</div>


{{end}}