{{define "content"}}

<div class="container reset-password-request">
  <h2 class="title">Forgot Your Password?</h2>
  <p class="subtitle">Enter your email address and we'll send you a link to reset your password.</p>
  <form method="POST" action="/reset-password-request" class="form">
    {{ .CSRFField }}
    {{ if .FormErrors.global }}
      <div class="error-message">{{.FormErrors.global}}</div>
    {{ end }}
    {{ if .AlertMessage }}
      <div class="alert {{.AlertType}}">{{.AlertMessage}}</div>
    {{ end }}

    <div class="form-group">
      <label for="email" class="form-label">Email:</label>
      <input type="email" id="email" name="email" class="form-input" required>
      {{ if .FormErrors.email }}
        <div class="error-message">{{.FormErrors.email}}</div>
      {{ end }}
    </div>
    <button type="submit" class="btn btn-primary">Send Reset Link</button>
  </form>
</div>

{{end}}