{{define "content"}}

<div class="thank-you-page">
    <h1>Thank You for Signing Up!</h1>
    <p>You are elegible for a BB Coupon of $1!</p>
    <a href="/" class="btn">Return to Home</a>
</div>

{{end}}